@font-face {
    font-family: Josefin Slab;
    src: url(../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: Josefin Slab bold;
    src: url(../fonts/Josefin_Slab/static/JosefinSlab-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Josefin Slab;
}

body {
    background-color: #3b3b3b;
}

.body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.left {
    padding: 8vh 8vh 0vh 5vh;
    color: white;
    clear:right;
    margin: auto;
}

.left a:active{
    text-decoration: underline;
}

.left h1 {
    margin-bottom: 6vh;
}

#title {
    color: white;
    text-decoration: none;
    font-size: 5vh;

}

#nav-bar-ul {
    list-style-type: none;
    padding-left: 0;
    width: auto;

}

.nav-bar-options, #log-out {
    padding: 1.7vh;
    padding-right: auto;
    margin: 1.5vh;
    border-radius: 7px;
    font-size: larger;
    transition: background-color 0.3s ease;
    margin-right: auto ;
    width: auto;

}

.nav-bar-options:hover, #log-out:hover {
    background-color: #5a533a;
}

.nav-bar-options a, #log-out a {
    text-decoration: none;
    color: white;
}

#left-right-hr {
    border: 1px solid #FFDA44; 
    height: auto;
    opacity: 1; 
    margin-right: auto;
}

.right{
    flex-grow: 2;
    margin-right: 1px;
    padding: 5vh;
}


