@font-face {
    font-family: Josefin Slab;
    src: url(../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: Josefin Slab bold;
    src: url(../fonts/Josefin_Slab/static/JosefinSlab-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Josefin Slab;
    font-weight: 600;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b3b3b;
}

.form-container {
    background-color: #1b1b1b;
    border-radius: 100px 20px / 70px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.61);
    width: 600px;
    height:400px;
    padding: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title{
    padding: 1vh;
    margin: 2vh;
}

#logo{
    width: 24vh;
    border-radius: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    background-color: #3b3b3b;
    border-radius: 15px;
    color: white;
}

.input input{
    font-size: large;
    width: 40vh;
    padding: 1.5vh;
    margin-top: 0;
    margin: 1vh;
    border-radius: 7px;
    border: none;
}

.input h3{
    font-size:17px;
    margin: 1vh;
    margin-bottom: 0;
}

.password-container{
    display: flex;
    justify-content: space-between;
}
a{
    color: #FFDA44;
}

button{
    width: 96%;
    align-self: center;
    text-align: center;
    padding: 2vh;
    border-radius: 7px;
    border: none;
    margin: 1vh;
    margin-top: 3vh;
    background-color: #FFDA44;
    font-size: 17px;
}

button:active{
    background-color: #ceb037;
}

#register{
    margin: 1vh;
    margin-top: 0;
    margin-bottom: 0;
}