*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.show{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #3b3b3bad;
    /* display: none; */
}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    z-index: 1;
    background-color: #3b3b3bad;
    display: none;
}

.preview{
    z-index: 2;
    border: 1px solid black;
    width: fit-content;
    position: absolute;
    position: fixed;

    margin: 2vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    background-color: #3b3b3bad;
    backdrop-filter: blur(10px);
    color: white;
    /* display: flex; */
    display: none;
}    

.post-content{
    padding: 0 15px;
    width: fit-content;
    width: 400px;
}

.post-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 0;
}

.description{
    max-width: 500px;
    overflow-y: scroll;
    height: 26vh;
}

.post-img {
    height: auto;
    object-fit: cover;
    max-width: 500px;
    border-radius: 15px 0 / 15px ;
    padding-bottom: 15px;
} 

.pfp {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    object-fit:cover;
    border-radius: 50%;
    margin-right: 5px;
}

.comments{
    padding:15px ;
    padding-left: 0;
    overflow-y: scroll;
    height: 220px;
}

.comment{
    margin-bottom: 30px;
}

.comment-like-active{
    color: red;
}

.fa-heart{
    margin-left: 5px;
}

.comment-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.comment-text{
    display: flex;
}

.comment-text p {
    margin-bottom: 0;
}

.comment-interactions{
    display: flex;
    justify-content: space-around;
}

.interactivity{
    padding: 8px;
    padding-left: 0;
}

.like-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: white;
    transition: background-color 0.3s ease;
}

button.like-button:active{
    background-color: red;
}

.like-button:hover{
    background-color: #646464ad;
}

.add-comment{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    
}   

.add-comment input{
    border: none;
    padding: 5px;
    width: 80%;
    border-radius: 10px;
    background-color: inherit;
    color: white;
}

.add-comment input::placeholder{
    color: white;
} 

.add-comment button{
    width: 20%;
    border: none;
    border-radius: 10px;
    padding-bottom: 4px;
    transition: background-color 0.3s ease;
    color: white;
    background: inherit;
    margin-left: 5px;
}

.add-comment button:hover{
    background-color: #646464ad;
}

.add-comment button:active{
    background-color: #313131ad;
}

/* ================================================================================================ */

#delete-post-btn{
    color: red;
    background-color: #3b3b3bad;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    border: 2px solid #8a8a8aad;
    display: none;
    z-index: 3;
    position: absolute;
    transform: translate(-35px,-25px);
}

#delete-post-container button:active{
    background-color: red;
}

#delete-post-container{
    display: flex;
    align-items: center;
}

#delete-post-confirm{
    z-index: 10;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #161616;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: none;
    /* display: flex; */

}

#delete-post-confirm *{
    padding: 5px;
    border: 2px solid #8a8a8aad;
    margin: 3px;
    border-radius: 10px;
}

#delete-post-confirm p{
    width: 100px;
    text-align: center;
    font-size: 20px;
}

#delete-post-confirm h5{
    color: white;
    padding: 10px;
    border: none;
}


.no{
    color:white;
    transition: background-color 0.2s ease;
}

.no:hover{
    background-color:#2e2e2e ;
}


.delete{
    color:red;
}

.delete:hover{
    background-color:#2e2e2e ;
}

#delete-post-overlay{
    z-index: 9;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: #2c2c2cad;
    display: none;
}

/* ========== */

#delete-comment-btn{
    color: red;
    background-color: #3b3b3bad;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    border: 2px solid #8a8a8aad;
    display: none;
    z-index: 3;
    transform: translate(30px,-25px);
}

#delete-comment-container button:active{
    background-color: red;
}

#delete-comment-container{
    display: flex;
    align-items: center;
}

#delete-comment-confirm{
    z-index: 10;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #161616;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    display: none;
}

#delete-comment-confirm *{
    padding: 5px;
    border: 2px solid #8a8a8aad;
    margin: 3px;
    border-radius: 10px;
}

#delete-comment-confirm p{
    width: 100px;
    text-align: center;
    font-size: 20px;
}

#delete-comment-confirm h5{
    color: white;
    padding: 10px;
    border: none;
}