*{
    margin: 0;
    padding: 0;
}

.preview{
    display: flex;
    border: 1px solid black;
    width: fit-content;
    
}

.post-image {
    display: inline;

    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
}

.post-image hr{
    width: 50%;
}

.post-image p{
    width: 50%;
}

.post-img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
