@font-face {
    font-family: Josefin Slab;
    src: url(../fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Josefin Slab;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3b3b3b;
}

/* ======================================================== left nav-bar ======================================================== */

.left{
    padding: 10vh 10vh 0vh 5vh;
    color: white;
}

#title{
    margin-bottom: 6vh;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

#nav-bar-ul{
    list-style-type: none;
}

#nav-bar-options,#log-out{
    padding: 2vh;
    margin: 1vh;
    border-radius: 5px;
    font-size: larger;
    transition: background-color 0.3s ease;
}

#nav-bar-options:hover,#log-out:hover{
    background-color: #504a35;
}

#nav-bar-options a, #log-out a{
    text-decoration: none;
    color: white;
}

#log-out{
    margin-top: 120%;
}

#pfp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

/* ======================================================== right section ======================================================== */



.right{
    padding: 15px;
    display: flex;
    align-items: center;    
    flex-direction: column;
    flex-grow: 3;
}
